body {
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
    /*font-family: 'Segoe UI Light','Segoe UI','Microsoft Jhenghei','\5FAE\8F6F\96C5\9ED1',sans-serif;*/
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: #333;
    text-decoration: none;
}

/*common*/

.blank5 {
    height: 5px;
    clear: both;
    display: block;
}

.blank10 {
    height: 10px;
    clear: both;
    display: block;
}

.blank15 {
    height: 15px;
    clear: both;
    display: block;
}

.blank20 {
    height: 20px;
    clear: both;
    display: block;
}

.blank25 {
    height: 25px;
    clear: both;
    display: block;
}

.blank35 {
    height: 35px;
    clear: both;
    display: block;
}

.blank50 {
    height: 50px;
    clear: both;
    display: block;
}

.blank65 {
    height: 65px;
    clear: both;
    display: block;
}

.blank75 {
    height: 75px;
    clear: both;
    display: block;
}

.blank85 {
    height: 85px;
    clear: both;
    display: block;
}

.blank100 {
    height: 100px;
    clear: both;
    display: block;
}

.blank120 {
    height: 120px;
    clear: both;
    display: block;
}

.blank150 {
    height: 150px;
    clear: both;
    display: block;
}

.pr-w760 {
    position: relative;
    width: 760px;
    min-height: 1px;
    height: auto;
    margin: 0 auto;
}

.pr-w960 {
    position: relative;
    width: 960px;
    min-height: 1px;
    height: auto;
    margin: 0 auto;
}

.pr-w1170 {
    position: relative;
    width: 1170px;
    min-height: 1px;
    height: auto;
    margin: 0 auto;
}