/* 移动端专用reset css */
html {font-size: 62.5%;  }
body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin: 0;
	padding: 0;
	border: 0; 
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
	display:block;
}*/


/*清除苹果手机按钮样式*/
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
-webkit-appearance: none;
}
/*盒子的边框和内容全部计算在设定的宽度或者高度里*/
*,*:before,*:after { 
	 -moz-box-sizing: border-box;  
     -webkit-box-sizing: border-box; 
     -o-box-sizing: border-box; 
     -ms-box-sizing: border-box; 
     box-sizing: border-box; }
body{ overflow:hidden;
	line-height:1;
	background:#fff;

}
ol,ul,li{
	list-style:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
.clear{line-height:0;font-size:0;clear:both;height:0;}
.clearfix:before,.clearfix:after{
	content:"";
	display:table; 
} 
.clearfix:after{clear:both;} 
.clearfix{ 
    *zoom:1;/*IE/7/6*/
}
a{text-decoration: none;outline: none; color:#000;}
a:hover{ color:#cd0000;star: expression(this.onFocus=this.blur()); text-decoration:none}
:focus{outline: 0;}
s.allIcon {display: inline-block;vertical-align: middle;text-decoration: line-through;}
.img_Fillet {-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%; }
.box_Fillet60 {-moz-border-radius:60px;-webkit-border-radius:60px;border-radius:60px;  }
.box_Fillet20 {-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;  }
.box_Fillet10 {-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;  }
.box_Fillet5 {-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;  }
.box_Fillet3 {-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; }
.fl{float: left;}
.fr{float: right;}
.hidden{display: none}
.img_big { 
height: auto; 
width: auto\9; 
width:100%;
display:block;
}

.colred{ color:#c00;}
.colgreen{ color:#24AB66;}
/* 滑动门基础css */
.box{margin:0;}
.tab_menu{overflow:hidden;}
.tab_box{padding:0;}
.tab_box li{overflow:hidden;}
.tab_box .hide{display:none;}

.dian_80{background:rgba(0,0,0,0.8);} 
.dian_60{background:rgba(0,0,0,0.6);} 

/*弹窗框架*/
.tan_div { position:relative;height:100%;width:100%;}
.tan_div .tan_bg {position:fixed;height:100%;width:100%;z-index:1}
.tan_div .tan_content {position:fixed;z-index:1000;width:100%;height:100%;}
.tan_content_box {background:#fff;width:90%;margin:20% auto;position:relative;}
.tan_close {background:url(../images/close_ico.png) no-repeat;background-size:2.5rem 2.5rem;width:2.5rem;height:2.5rem;position:absolute;right:0.5rem; top:0.5rem;z-index:777}
.tan_padding{padding:4%;}
.tan_padding h5 {font-size:2.4rem;color:#f60;text-align:center;padding:2rem 0;}

/*标题框架*/
.bottom_div_title {height:4rem;line-height:4rem;width:100%;position:relative;border-bottom:solid #ddd 1px;  }
.bottom_div_title h2{font-size:1.8rem;text-align:center;}
.bottom_div_title a  {position:absolute;z-index:2; top:1rem; right:1rem;  background:url(../images/close_328.png) no-repeat;background-size:2rem 2rem; width:2rem;height:2rem;}